# Instrukcje sterujƒÖce w Pythonie  
### for / if / while  


W tym notebooku:  
1. Poznasz podstawowe konstrukcje sterujƒÖce `for`, `if`, `while`.  
2. Zobaczysz, jak u≈ºywaƒá `break`, `continue` i `pass`.  
3. Przeƒáwiczysz pƒôtle na przyk≈Çadach z¬†`pandas.DataFrame`.  
4. W czƒô≈õci warsztatowej zbudujesz pierwszy skrypt do **automatycznego oczyszczania danych**.

## 1. Pƒôtla `for`¬†‚Äì podstawy
Pƒôtla `for` pozwala przechodziƒá kolejno po elementach sekwencji (lista, krotka, string, itp.).
W Excelu u≈ºywa≈Ç(a/e)≈õ formu≈Ç w¬†kolumnach ‚Äì w¬†Pythonie tƒô samƒÖ powtarzalno≈õƒá osiƒÖgamy pƒôtlami.

In [1]:
# Prosty przyk≈Çad pƒôtli for
liczby = [1, 2, 3, 4, 5]
suma_kwadratow = 0

for n in liczby:                 # dla ka≈ºdego elementu listy
    suma_kwadratow += n ** 2     # dodaj kwadrat bie≈ºƒÖcej liczby
print(f"Suma kwadrat√≥w: {suma_kwadratow}")

Suma kwadrat√≥w: 55

In [2]:
# enumerate pozwala mieƒá jednocze≈õnie indeks i warto≈õƒá
kolumny = ['Produkt', 'Sprzeda≈º', 'Cena']
for idx, nazwa in enumerate(kolumny, start=1):
    print(f"Kolumna {idx}: {nazwa}")

Kolumna 1: Produkt
Kolumna 2: Sprzeda≈º
Kolumna 3: Cena

## 2. Instrukcja warunkowa `if`
Pozwala wykonywaƒá kod tylko wtedy, gdy warunek jest spe≈Çniony ‚Äì podobnie do formu≈Çy `JE≈ªELI()` w¬†Excelu.

In [ ]:
# Przyk≈Çad u≈ºycia if / elif / else
ocena = 4  # spr√≥buj zmieniƒá tƒô warto≈õƒá
if ocena >= 5:
    print("≈öwietnie!")
elif ocena >= 3:
    print("Zaliczone, ale warto poƒáwiczyƒá")
else:
    print("Podejd≈∫ jeszcze raz ‚Äì praktyka czyni mistrza!")

Zaliczone, ale warto poƒáwiczyƒá üôÇ

## 3. Pƒôtla `while`
Pƒôtla `while` powtarza blok kodu **dop√≥ki** warunek jest prawdziwy.

In [4]:
# Liczymy, a≈º suma przekroczy 15
suma = 0
n = 1
while suma < 15:
    suma += n
    n += 1
print("Suma:", suma)

Suma: 15

## 4. `break`, `continue`, `pass`
* `break`¬†‚Äì natychmiast przerywa pƒôtlƒô.
* `continue`¬†‚Äì pomija resztƒô bie≈ºƒÖcej iteracji i¬†przechodzi do nastƒôpnej.
* `pass`¬†‚Äì "placeholder", nic nie robi ‚Äì przydaje siƒô, gdy sk≈Çadniowo **musi** byƒá jaki≈õ blok kodu.

In [5]:
# Szukamy pierwszej liczby podzielnej przez 7
for i in range(1, 20):
    if i % 2 == 0:
        continue      # pomi≈Ñ liczby parzyste
    if i % 7 == 0:
        print("Znaleziono:", i)
        break          # zako≈Ñcz pƒôtlƒô
print("Koniec pƒôtli")

Znaleziono: 7
Koniec pƒôtli

## 5. Pƒôtle w¬†kontek≈õcie `pandas.DataFrame`
Choƒá `pandas` zachƒôca do **wektoryzacji** (operacji bez pƒôtli), czasem pƒôtle sƒÖ przydatne np. do logiki warunkowej.

In [6]:
import pandas as pd

df = pd.DataFrame({
    'Produkt': ['A', 'B', 'C', 'D'],
    'Sprzeda≈º': [120, 50, None, 90],
    'Cena': [10.5, 12.0, 9.5, 11.0]
})
df

  Produkt  Sprzeda≈º  Cena
0       A     120.0  10.5
1       B      50.0  12.0
2       C       NaN   9.5
3       D      90.0  11.0

### `iterrows()` ‚Äì wiersz po wierszu

In [7]:
for idx, row in df.iterrows():
    if pd.isna(row['Sprzeda≈º']):
        print(f"Wiersz {idx}: brakujƒÖca sprzeda≈º ‚Äì sprawd≈∫ dane ≈∫r√≥d≈Çowe!")

Wiersz 2: brakujƒÖca sprzeda≈º ‚Äì sprawd≈∫ dane ≈∫r√≥d≈Çowe!

### Pƒôtla `while` z¬†indeksem (rzadko potrzebna, ale dobra do ƒáwicze≈Ñ)

In [8]:
i = 0
while i < len(df):
    # je≈õli sprzeda≈º mniejsza ni≈º 100, podbij o 10¬†%
    if df.loc[i, 'Sprzeda≈º'] is not None and df.loc[i, 'Sprzeda≈º'] < 100:
        df.loc[i, 'Sprzeda≈º'] *= 1.1
    i += 1
df

  Produkt  Sprzeda≈º  Cena
0       A     120.0  10.5
1       B      55.0  12.0
2       C       NaN   9.5
3       D      99.0  11.0

## 6. Warsztaty¬†‚Äì automatyczne oczyszczanie danych
Spr√≥buj napisaƒá skrypt, kt√≥ry przygotuje dane do dalszej analizy. **Mo≈ºesz u≈ºyƒá poni≈ºszego szablonu jako punktu wyj≈õcia.**

### Zadania:
1. Wczytaj plik CSV (lub stw√≥rz DataFrame z¬†b≈Çƒôdami).
2. Usu≈Ñ zduplikowane wiersze.
3. Usu≈Ñ wiersze z¬†brakujƒÖcƒÖ warto≈õciƒÖ w¬†kolumnie `Cena`.
4. ZastƒÖp warto≈õci `Sprzeda≈º < 0` medianƒÖ tej kolumny.
5. Dodaj kolumnƒô `Przych√≥d = Sprzeda≈º * Cena`.
6. Zapisz wynik do nowego pliku CSV.

### Podpowiedzi:
* U≈ºyj `pd.read_csv()` / `df.to_csv()`.
* Sprawd≈∫ `df.duplicated()` i¬†`df.drop_duplicates()`.
* Braki danych? `df.dropna()` lub `df.fillna()`.
* Medianƒô obliczysz przez `df['Sprzeda≈º'].median()`.
* Pamiƒôtaj o¬†`if`, `for`, `while`, `break`, `continue` tam, gdzie majƒÖ sens!

In [9]:
# --- SZABLON START --- #
import pandas as pd

# 1. Wczytaj dane
# df = pd.read_csv('twoj_plik.csv')   # TODO: zmie≈Ñ ≈õcie≈ºkƒô
df = pd.DataFrame({
    'Produkt': ['A', 'B', 'B', 'C', 'D'],
    'Sprzeda≈º': [120, -5, -5, None, 90],
    'Cena': [10.5, 12.0, 12.0, 9.5, None]
})

# 2. Usu≈Ñ zduplikowane wiersze
# TODO: Tw√≥j kod tutaj

# 3. Usu≈Ñ wiersze z brakujƒÖcƒÖ cenƒÖ
# TODO: Tw√≥j kod tutaj

# 4. Zamie≈Ñ ujemnƒÖ sprzeda≈º na medianƒô
# TODO: Tw√≥j kod tutaj

# 5. Dodaj kolumnƒô 'Przych√≥d'
# TODO: Tw√≥j kod tutaj

# 6. Zapisz do CSV
# TODO: Tw√≥j kod tutaj

# Wy≈õwietl efekt
df.head()
# --- SZABLON END --- #

  Produkt  Sprzeda≈º  Cena
0       A     120.0  10.5
1       B      -5.0  12.0
2       B      -5.0  12.0
3       C       NaN   9.5
4       D      90.0   NaN

## 7. Podsumowanie
* Pozna≈Çe≈õ(a≈õ) pƒôtle `for` i¬†`while`, instrukcjƒô `if` oraz s≈Çowa kluczowe `break`, `continue`, `pass`.
* Wiesz, jak iterowaƒá po¬†`DataFrame` i¬†gdzie lepiej unikaƒá pƒôtli.
* Potrafisz stworzyƒá prosty skrypt do **oczyszczania danych**.