# 2.6 Ćwiczenia – Pandas zamiast Excela
Poznasz, jak wyrazić popularne funkcje Excela w Pythonie.

### Start: wygeneruj dane
Uruchom komórkę poniżej, aby stworzyć DataFrame `kredyty` z 100 przykładowymi transakcjami.

In [ ]:

import numpy as np
import pandas as pd

np.random.seed(42)  # dla powtarzalności

kredyty = pd.DataFrame({
    "ID_Transakcji": range(1, 101),
    "ID_Klienta": np.random.randint(1000, 1100, 100),
    "Data": pd.to_datetime(np.random.choice(
        pd.date_range("2025-01-01", "2025-04-30"), 100)),
    "Kwota": np.random.randint(5_000, 200_001, 100),
    "Typ_Kredytu": np.random.choice(
        ["Hipoteczny", "Samochodowy", "Gotówkowy", "Karta Kredytowa"], 100),
    "Region": np.random.choice(
        ["Północ", "Południe", "Wschód", "Zachód"], 100),
    "Status": np.random.choice(
        ["Zatwierdzony", "Odrzucony"], 100)
})

kredyty.head()

## Zadania
Uzupełnij kod w komórkach `# TODO`. Pod każdym zadaniem znajdziesz pustą komórkę na swoje rozwiązanie.

### 1️ SUMIF
Oblicz łączną **Kwota** dla `Typ_Kredytu == 'Hipoteczny'`.

In [ ]:
# TODO: wpisz rozwiązanie tutaj

### 2️ COUNTIF
Zlicz transakcje, gdzie `Region == 'Północ'`.

In [ ]:
# TODO: wpisz rozwiązanie tutaj

### 3️ SUMIF wielokryterialny
Suma `Kwota` dla `Region == 'Zachód'` **i** `Status == 'Zatwierdzony'`.

In [ ]:
# TODO: wpisz rozwiązanie tutaj

### 4️ Filtr + sortowanie
Wyświetl transakcje z **dni 1–10 każdego miesiąca**, posortowane malejąco po `Kwota`.

In [ ]:
# TODO: wpisz rozwiązanie tutaj

### 5️ Agregacja miesięczna
Podaj sumę `Kwota` dla każdego miesiąca (`Data`).

In [ ]:
# TODO: wpisz rozwiązanie tutaj

### 6️ Flaga wysokiej kwoty
Dodaj kolumnę `Kwota_Flaga`: `'Wysoka'` jeśli `Kwota > 100_000`, w przeciwnym razie `'Niska'`.

In [ ]:
# TODO: wpisz rozwiązanie tutaj

### 7 Formatowanie warunkowe
Podświetl cały wiersz na czerwono, gdy `Kwota_Flaga == 'Wysoka'` (użyj `DataFrame.style`).

In [ ]:
# TODO: wpisz rozwiązanie tutaj